@use './variables' as vars;
@use "sass:color";

.data-list__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: vars.$secondary-bg;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  flex: 1;
  min-height: 0;

  .data-list {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.95rem;
    flex: 1;
    min-height: 0;
    margin-top: 1rem;
    overflow-y: auto;

    thead {
      background-color: color.adjust(vars.$primary-bg, $lightness: 5%);
    }

    th, td {
      padding: 0.75rem 1rem;
      text-align: left;
      border-bottom: 1px solid color.adjust(vars.$primary-bg, $lightness: -10%);
    }

    tr:hover {
      background-color: color.adjust(vars.$primary-bg, $lightness: 10%);
      transition: background-color 0.2s;
    }

    .cell-center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .cell-link {
      color: vars.$primary-color;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .pagination-wrapper {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff; // fehér külön blokk
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; // mindig látszik alul
  }
}
