// Colors
$primary-color: #3b82f6;
$primary-color-dark: #1e40af;
$primary-bg: #f5f7fa;
$secondary-bg: #ffffff;

// Fonts
$font-family-base: 'Inter', Arial, sans-serif;

// Breadcrumb
$breadcrumb-bg: $secondary-bg; // fehér, mint a táblázatok
$breadcrumb-border: darken($secondary-bg, 10%);
$breadcrumb-radius: 6px;
$breadcrumb-link-color: $primary-color;
$breadcrumb-link-hover-color: $primary-color-dark;
